<style type="text/css">
  #container-graph-partner {
    border-style: solid;
    border-color: #ec5148;
    max-width: 400px;
    height: 400px;
    margin: auto;
  }

  #container-graph-family {
    border-style: solid;
    border-color: #60e0a1;
    max-width: 400px;
    height: 400px;
    margin: auto;
  }
</style>

<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <h2 class="header center orange-text">Informações de fraudes da CEAP</h2>
    <div class="row center">
      <h5 class="header col s12 light">
        Abaixo são apresentadas algumas consultas com dados fictícios para
        validar que o modelo proposto é capaz de encontrar os padrões que violam
        as leis da CEAP.
      </h5>
    </div>
  </div>
</div>

<div class="container">
  <div class="section">
    <h4 class="header center orange-text">Grafo de deputados associados a empresas</h4>
    <h5 class="header col s12 light" style="text-align: justify;">
      O grafo abaixo utiliza dados fictícios que apresentam parlamentares que fizerem transações com a CEAP,
      e são sócios das empresas que fornecem os serviços.
    </h5>
    <div id="container-graph-partner"></div>
  </div>
</div>

<div class="container">
  <div class="section">
    <h4 class="header center orange-text">Grafo de familiar do deputado associado a empresa</h4>
    <h5 class="header col s12 light" style="text-align: justify;">
      O grafo abaixo utiliza dados fictícios que apresentam familiares de deputados que são sócios de alguma empresa
      na qual o deputado fez uma transação com dinheiro da CEAP.
    </h5>
    <div id="container-graph-family"></div>
  </div>
</div>
