<nav class="light-blue lighten-1" role="navigation">
  <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">CEAP</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/ceap_tse">CEAP / TSE</a></li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li><a href="/ceap_tse">CEAP / TSE</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>
<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <h2 class="header center orange-text">CEAP Colaborativo</h2>
    <div class="row center">
      <h5 class="header col s12 light">
        O CEAP Colaborativo é uma plataforma online que fornece informações a respeito da Cota para exercício
        da atividade parlamentar dos deputados federais. As informações disponiveis são referentes ao ano de 2017,
        e foram obtidas no site da câmara dos deputados.
      </h5>
    </div>
    <div class="row center">
      <a href="#" id="download-button" class="btn-large waves-effect waves-light orange">Colabore!</a>
    </div>
    <br><br>

  </div>
</div>


<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
          <h5 class="center">Plataforma colaborativa</h5>

          <p class="light" style="text-align: justify;">
            Um dos objetivos dessa plataforma, é fornecer com transparência informações referentes a CEAP.
            Para isso utilizamos a tecnologia de banco de dados em grafo para evidenciar relacionamentos nos dados
            que possam transgredir o regulamento da ceap. Entretanto, informações de parentesco de cada deputado, junto
            com o quadro societário de cada empresa envolvida nem sempre é de fácil acesso. Dessa forma, contamos com sua
            colaboração para melhorar ainda mais as informações referentes aos nossos deputados. Nenhuma informação será disponibilizada,
            sem primeiro atestar a veracidade.
          </p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">poll</i></h2>
          <h5 class="center">Informação organizada</h5>

          <p class="light" style="text-align: justify;">
            A plataforma possui informações a respeito de cada transação feito por um deputado
            no ano de 2017, utilizando gráficos e estatísticas para facilitar o entendimento geral
            dos dados. Os dados são abertos e podem ser obtidos nesse link <a href="http://www2.camara.leg.br/transparencia/cota-para-exercicio-da-atividade-parlamentar/dados-abertos-cota-parlamentar">CEAP</a>.
            Está disponível também um cruzamento com as receitas de cada deputado federal nas <a href="http://www.tse.jus.br/eleitor-e-eleicoes/estatisticas/repositorio-de-dados-eleitorais-1/repositorio-de-dados-eleitorais">eleições</a> de 2014, para descobrir
            se deputados receberam verba de alguma empresa para a campanha na época, e utilizam a CEAP para obter serviços da mesma empresa.
          </p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
          <h5 class="center">Código aberto</h5>

          <p class="light" style="text-align: justify;">
            Toda a plataforma foi feita utilizando tecnologias open-source. Além disso os dados obtidos
            são todos dados abertos fornecidos pela câmara dos deputados e pelo tribunal superior eleitoral.
          </p>
        </div>
      </div>
    </div>

  </div>
  <br><br>
</div>

<footer class="page-footer orange">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Universidade de Brasília</h5>
        <p class="grey-text text-lighten-4" style="text-align: justify;">
          Esse projeto foi feito como trabalho de conclusão de curso na Universidade de Brasília.
          Todas as informações aqui presentes, foram obtidas por meio de dados abertos fornecidas pela
          câmara dos deputados e pelo tribunal superior eleitoral.
        </p>


      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="white-text" href="http://www.unb.br/">Universidade de Brasília</a></li>
          <li><a class="white-text" href="http://www2.camara.leg.br/transparencia/cota-para-exercicio-da-atividade-parlamentar/dados-abertos-cota-parlamentar">CEAP</a></li>
          <li><a class="white-text" href="http://www.tse.jus.br/eleitor-e-eleicoes/estatisticas/repositorio-de-dados-eleitorais-1/repositorio-de-dados-eleitorais">Eleiçoes 2014</a></li>
          <li><a class="white-text" href="http://cic.unb.br/">Departamento de Ciência da Computação</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer-copyright">
    <div class="container">
    </div>
  </div>
</footer>
