<style type="text/css">
  #container-graph {
    border-style: solid;
    border-color: #39b7f6;
    max-width: 600px;
    height: 600px;
    margin: auto;
  }
</style>

<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <h2 class="header center orange-text">Informações de dados da CEAP / TSE</h2>
    <div class="row center">
      <h5 class="header col s12 light">
        Abaixo são apresentadas algumas informações obtidas do cruzamento entre os dados
        de transações da CEAP, e de doações aos parlamentares nas eleições de 2014.
      </h5>
    </div>
  </div>
</div>

<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
          <h5 class="center">Quantidade de Parlamentares</h5>

          <h5 class="light" style="text-align: center;">
            <%= @parlamentar_count %>
          </h5>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">business</i></h2>
          <h5 class="center">Quantidade de Empresas Fornecedoras</h5>

          <h5 class="light" style="text-align: center;">
            <%= @empresa_fornecedora_count %>
          </h5>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">attach_money</i></h2>
          <h5 class="center">Quantidade de Transações</h5>

          <h5 class="light" style="text-align: center;">
            <%= @transacoes_count %>
          </h5>
        </div>
      </div>
    </div>

  </div>

  <hr>

  <div class="section">
    <div id="container-deputy-group" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
  </div>

  <hr>

  <div class="section">
    <div id="container-deputy-transaction" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
  </div>

  <hr>

  <div class="section">
    <div id="container-enterprise-transaction" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
  </div>

  <hr>

  <div class="section">
    <h4 class="header center orange-text">Grafo de cruzamento dos dados entre CEAP e TSE</h4>
    <h5 class="header col s12 light" style="text-align: justify;">
      O grafo abaixo apresenta os parlamentares que fizeram transações com a CEAP em 2017,
      e receberam doações para suas campanhas em 2014. Os vértices laranjas representam uma transação,
      um vértice vermelho representa uma empresa fornecedora, e um vértice azul representa um parlamentar.
    </h5>
    <div id="container-graph"></div>

    <p class="header col s12 light" style="text-align: justify;">Deputados e Empresas obtidos</p>
    <% @deputies_in_donations_name.each do |name| %>
      <p><%= name["p_TxNomeParlamentar"] + " - " + name["e_TxtFornecedor"] %></p>
    <% end %>
  </div>
  <br><br>
</div>
