<style type="text/css">
  #container-graph {
    border-style: solid;
    border-color: #39b7f6;
    max-width: 400px;
    height: 400px;
    margin: auto;
  }
</style>

<nav class="light-blue lighten-1" role="navigation">
  <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">CEAP</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="#">CEAP / TSE</a></li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li><a href="#">CEAP / TSE</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>

<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <h2 class="header center orange-text">Informações de dados da CEAP / TSE</h2>
    <div class="row center">
      <h5 class="header col s12 light">
        Abaixo são apresentadas algumas informações obtidas do cruzamento entre os dados
        de transações da CEAP, e de doações aos parlamentares nas eleições de 2014.
      </h5>
    </div>
  </div>
</div>

<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
          <h5 class="center">Quantidade de Parlamentares</h5>

          <h5 class="light" style="text-align: center;">
            <%= @parlamentar_count %>
          </h5>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">business</i></h2>
          <h5 class="center">Quantidade de Empresas Fornecedoras</h5>

          <h5 class="light" style="text-align: center;">
            <%= @empresa_fornecedora_count %>
          </h5>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">attach_money</i></h2>
          <h5 class="center">Quantidade de Transações</h5>

          <h5 class="light" style="text-align: center;">
            <%= @transacoes_count %>
          </h5>
        </div>
      </div>
    </div>

  </div>

  <hr>

  <div class="section">
    <div id="container-deputy-group" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
  </div>

  <hr>

  <div class="section">
    <div id="container-deputy-transaction" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
  </div>

  <hr>

  <div class="section">
    <div id="container-enterprise-transaction" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
  </div>

  <div class="section">
    <div id="container-graph"></div>
  </div>
  <br><br>
</div>

<footer class="page-footer orange">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Universidade de Brasília</h5>
        <p class="grey-text text-lighten-4" style="text-align: justify;">
          Esse projeto foi feito como trabalho de conclusão de curso na Universidade de Brasília.
          Todas as informações aqui presentes, foram obtidas por meio de dados abertos fornecidas pela
          câmara dos deputados e pelo tribunal superior eleitoral.
        </p>


      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="white-text" href="http://www.unb.br/">Universidade de Brasília</a></li>
          <li><a class="white-text" href="http://www2.camara.leg.br/transparencia/cota-para-exercicio-da-atividade-parlamentar/dados-abertos-cota-parlamentar">CEAP</a></li>
          <li><a class="white-text" href="http://www.tse.jus.br/eleitor-e-eleicoes/estatisticas/repositorio-de-dados-eleitorais-1/repositorio-de-dados-eleitorais">Eleiçoes 2014</a></li>
          <li><a class="white-text" href="http://cic.unb.br/">Departamento de Ciência da Computação</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer-copyright">
    <div class="container">
    </div>
  </div>
</footer>
